# ICS5110: Applied Machine Learning

Peter Galea St. John: 288098m\
Christian A. Vella

In [81]:
# Import some necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import csv

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

######-ANN
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler


######-RF

from sklearn.tree import DecisionTreeClassifier

# Data Preparation

In [82]:
 with open('Cleaned-Data.csv') as csv_file:
    data = list(csv.reader(csv_file, delimiter='\t'))
    r = len(data)

In [83]:
df = pd.read_csv('Cleaned-Data.csv',na_values="?" )

In [84]:
df.head()

,Fever,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,Diarrhea,...,Gender_Male,Gender_Transgender,Severity_Mild,Severity_Moderate,Severity_None,Severity_Severe,Contact_Dont-Know,Contact_No,Contact_Yes,Country
0,1,1,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,0,0,1,China
1,1,1,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,0,1,0,China
2,1,1,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,1,0,0,China
3,1,1,1,1,1,0,1,1,1,1,...,1,0,0,1,0,0,0,0,1,China
4,1,1,1,1,1,0,1,1,1,1,...,1,0,0,1,0,0,0,1,0,China

In [85]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

  Country
0   China
1   China
2   China
3   China
4   China

In [86]:
obj_df["Country"].value_counts()

Other                 31680
Spain                 31680
France                31680
Republic of Korean    31680
Italy                 31680
China                 31680
Other-EUR             31680
UAE                   31680
Iran                  31680
Germany               31680
Name: Country, dtype: int64

In [87]:
cleanup_Countries = {"Country": {"China":0, "UAE":1, "Iran":2, "France":3, "Republic of Korean":4, "Spain":5, "Italy":6, "Germany":7, "Other-EUR":8, "Other":9}}

In [88]:
obj_df = obj_df.replace(cleanup_Countries)

In [89]:
obj_df.head()

   Country
0        0
1        0
2        0
3        0
4        0

In [90]:
df["Country"] = obj_df

In [91]:
severity_columns = df.filter(like='Severity_').columns
gender_columns = df.filter(like='Gender_').columns

df['Severity_None'].replace({1:'0',0:'No'},inplace =True)
df['Severity_Mild'].replace({1:'1',0:'No'},inplace =True)
df['Severity_Moderate'].replace({1:'2',0:'No'},inplace =True)
df['Severity_Severe'].replace({1:'3',0:'No'},inplace =True)

df['Condition'] = df[severity_columns].values.tolist()

df.drop(columns=['Severity_None','Severity_Mild','Severity_Moderate','Severity_Severe'])

,Fever,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,Diarrhea,...,Age_25-59,Age_60+,Gender_Female,Gender_Male,Gender_Transgender,Contact_Dont-Know,Contact_No,Contact_Yes,Country,Condition
0,1,1,1,1,1,0,1,1,1,1,...,0,0,0,1,0,0,0,1,0,"[1, No, No, No]"
1,1,1,1,1,1,0,1,1,1,1,...,0,0,0,1,0,0,1,0,0,"[1, No, No, No]"
2,1,1,1,1,1,0,1,1,1,1,...,0,0,0,1,0,1,0,0,0,"[1, No, No, No]"
3,1,1,1,1,1,0,1,1,1,1,...,0,0,0,1,0,0,0,1,0,"[No, 2, No, No]"
4,1,1,1,1,1,0,1,1,1,1,...,0,0,0,1,0,0,1,0,0,"[No, 2, No, No]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316795,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,1,0,9,"[No, No, No, 3]"
316796,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,1,0,0,9,"[No, No, No, 3]"
316797,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,1,9,"[No, No, 0, No]"
316798,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,1,0,9,"[No, No, 0, No]"
316799,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,1,0,0,9,"[No, No, 0, No]"

In [92]:
def removing(list1):
    list1 = set(list1) 
    list1.discard("No")
    a = ''.join(list1)
    return a

In [93]:
df['Condition'] = df['Condition'].apply(removing)

In [94]:
df.head()

,Fever,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,Diarrhea,...,Gender_Transgender,Severity_Mild,Severity_Moderate,Severity_None,Severity_Severe,Contact_Dont-Know,Contact_No,Contact_Yes,Country,Condition
0,1,1,1,1,1,0,1,1,1,1,...,0,1,No,No,No,0,0,1,0,1
1,1,1,1,1,1,0,1,1,1,1,...,0,1,No,No,No,0,1,0,0,1
2,1,1,1,1,1,0,1,1,1,1,...,0,1,No,No,No,1,0,0,0,1
3,1,1,1,1,1,0,1,1,1,1,...,0,No,2,No,No,0,0,1,0,2
4,1,1,1,1,1,0,1,1,1,1,...,0,No,2,No,No,0,1,0,0,2

In [95]:
headers= df.columns.tolist()

In [96]:
X= pd.DataFrame.to_numpy(df.drop(['Condition'],axis=1))
y= pd.DataFrame.to_numpy(df['Condition'])

In [97]:
X= np.delete(X,19,1)
X= np.delete(X,19,1)
X= np.delete(X,19,1)
X= np.delete(X,19,1)

In [98]:
print(headers)
headers.remove('Severity_Mild')
headers.remove('Severity_Moderate')
headers.remove('Severity_None')
headers.remove('Severity_Severe')
headers.remove('Condition')
print(headers)

['Fever', 'Tiredness', 'Dry-Cough', 'Difficulty-in-Breathing', 'Sore-Throat', 'None_Sympton', 'Pains', 'Nasal-Congestion', 'Runny-Nose', 'Diarrhea', 'None_Experiencing', 'Age_0-9', 'Age_10-19', 'Age_20-24', 'Age_25-59', 'Age_60+', 'Gender_Female', 'Gender_Male', 'Gender_Transgender', 'Severity_Mild', 'Severity_Moderate', 'Severity_None', 'Severity_Severe', 'Contact_Dont-Know', 'Contact_No', 'Contact_Yes', 'Country', 'Condition']
['Fever', 'Tiredness', 'Dry-Cough', 'Difficulty-in-Breathing', 'Sore-Throat', 'None_Sympton', 'Pains', 'Nasal-Congestion', 'Runny-Nose', 'Diarrhea', 'None_Experiencing', 'Age_0-9', 'Age_10-19', 'Age_20-24', 'Age_25-59', 'Age_60+', 'Gender_Female', 'Gender_Male', 'Gender_Transgender', 'Contact_Dont-Know', 'Contact_No', 'Contact_Yes', 'Country']

## Chi Square

In [99]:
def get_max(x):
    max_val = 0
    for i in x:
        if i>max_val:
            max_val = i
    return max_val

In [100]:
def get_min(x):
    min_val = 99
    for i in x:
        if i<min_val:
            min_val = i
    return min_val

In [101]:
y = y.astype(np.int)

### Contingency Table

In [102]:
contingency_table = {headers[0]:{0,0}}

for x_col in range(X.shape[1]):
    col = X[:,x_col]
    h = headers[x_col]
    
    contingency_table[headers[x_col]] = {}
    
    for val_x in range(get_max(col)+1):
        count=0
        for val_y in range(get_max(y)+1):
            
            contingency_table[headers[x_col]][val_x,val_y]=  0

In [103]:
for x_col in range(X.shape[1]):
    col = X[:,x_col]
    print(headers[x_col])
    
    for i in range(col.shape[0]):
        contingency_table[headers[x_col]][col[i],y[i]] +=1

Fever
Tiredness
Dry-Cough
Difficulty-in-Breathing
Sore-Throat
None_Sympton
Pains
Nasal-Congestion
Runny-Nose
Diarrhea
None_Experiencing
Age_0-9
Age_10-19
Age_20-24
Age_25-59
Age_60+
Gender_Female
Gender_Male
Gender_Transgender
Contact_Dont-Know
Contact_No
Contact_Yes
Country

In [104]:
print(contingency_table[headers[0]][0,0])

54450

#### Degrees of Freedom

In [105]:
df ={}

for x_col in range(X.shape[1]):
    col = X[:,x_col]
    print(headers[x_col])
    
    rows = (get_max(col)+1)
    cols = (get_max(y)+1)
    
    df[headers[x_col]] = (rows-1)*(cols-1)

Fever
Tiredness
Dry-Cough
Difficulty-in-Breathing
Sore-Throat
None_Sympton
Pains
Nasal-Congestion
Runny-Nose
Diarrhea
None_Experiencing
Age_0-9
Age_10-19
Age_20-24
Age_25-59
Age_60+
Gender_Female
Gender_Male
Gender_Transgender
Contact_Dont-Know
Contact_No
Contact_Yes
Country

Degrees of Freedom for Contingency Tables = (r-1)*(c-1)

In [106]:
print(df)

{'Fever': 3, 'Tiredness': 3, 'Dry-Cough': 3, 'Difficulty-in-Breathing': 3, 'Sore-Throat': 3, 'None_Sympton': 3, 'Pains': 3, 'Nasal-Congestion': 3, 'Runny-Nose': 3, 'Diarrhea': 3, 'None_Experiencing': 3, 'Age_0-9': 3, 'Age_10-19': 3, 'Age_20-24': 3, 'Age_25-59': 3, 'Age_60+': 3, 'Gender_Female': 3, 'Gender_Male': 3, 'Gender_Transgender': 3, 'Contact_Dont-Know': 3, 'Contact_No': 3, 'Contact_Yes': 3, 'Country': 27}

### Expected Values

In [107]:
expected_values = {headers[0]:{0,0}}

for x_col in range(X.shape[1]):
    col = X[:,x_col]
    h = headers[x_col]
    
    expected_values[headers[x_col]] = {}
    Total = np.sum(list(contingency_table[headers[x_col]].values()))
    rowstotal = []
    colstotal = []
    
    for val_x in range(get_max(col)+1):
        
        for val_y in range(get_max(y)+1):
            rowstotal.append(contingency_table[headers[x_col]][val_x,val_y]) 
            
    for val_y in range(get_max(y)+1):
        
        for val_x in range(get_max(col)+1):
            colstotal.append(contingency_table[headers[x_col]][val_x,val_y])
    
    for val_x in range(get_max(col)+1):
        
        for val_y in range(get_max(y)+1):
            p = (rowstotal[val_x]/Total)*(colstotal[val_y]/Total)
            expected_values[headers[x_col]][val_x,val_y]=  p*Total

In [108]:
print(expected_values)

{'Fever': {(0, 0): 9358.59375, (0, 1): 4253.90625, (0, 2): 9358.59375, (0, 3): 4253.90625, (1, 0): 9358.59375, (1, 1): 4253.90625, (1, 2): 9358.59375, (1, 3): 4253.90625}, 'Tiredness': {(0, 0): 4950.0, (0, 1): 4950.0, (0, 2): 4950.0, (0, 3): 4950.0, (1, 0): 4950.0, (1, 1): 4950.0, (1, 2): 4950.0, (1, 3): 4950.0}, 'Dry-Cough': {(0, 0): 3789.84375, (0, 1): 4872.65625, (0, 2): 3789.84375, (0, 3): 4872.65625, (1, 0): 3789.84375, (1, 1): 4872.65625, (1, 2): 3789.84375, (1, 3): 4872.65625}, 'Difficulty-in-Breathing': {(0, 0): 4950.0, (0, 1): 4950.0, (0, 2): 4950.0, (0, 3): 4950.0, (1, 0): 4950.0, (1, 1): 4950.0, (1, 2): 4950.0, (1, 3): 4950.0}, 'Sore-Throat': {(0, 0): 9358.59375, (0, 1): 4253.90625, (0, 2): 9358.59375, (0, 3): 4253.90625, (1, 0): 9358.59375, (1, 1): 4253.90625, (1, 2): 9358.59375, (1, 3): 4253.90625}, 'None_Sympton': {(0, 0): 17402.34375, (0, 1): 1160.15625, (0, 2): 17402.34375, (0, 3): 1160.15625, (1, 0): 17402.34375, (1, 1): 1160.15625, (1, 2): 17402.34375, (1, 3): 1160.15625}, 'Pains': {(0, 0): 8018.181818181818, (0, 1): 4581.818181818182, (0, 2): 8018.181818181818, (0, 3): 4581.818181818182, (1, 0): 8018.181818181818, (1, 1): 4581.818181818182, (1, 2): 8018.181818181818, (1, 3): 4581.818181818182}, 'Nasal-Congestion': {(0, 0): 4090.9090909090905, (0, 1): 4909.090909090909, (0, 2): 4090.9090909090905, (0, 3): 4909.090909090909, (1, 0): 4090.9090909090905, (1, 1): 4909.090909090909, (1, 2): 4090.9090909090905, (1, 3): 4909.090909090909}, 'Runny-Nose': {(0, 0): 4090.9090909090905, (0, 1): 4909.090909090909, (0, 2): 4090.9090909090905, (0, 3): 4909.090909090909, (1, 0): 4090.9090909090905, (1, 1): 4909.090909090909, (1, 2): 4090.9090909090905, (1, 3): 4909.090909090909}, 'Diarrhea': {(0, 0): 8018.181818181818, (0, 1): 4581.818181818182, (0, 2): 8018.181818181818, (0, 3): 4581.818181818182, (1, 0): 8018.181818181818, (1, 1): 4581.818181818182, (1, 2): 8018.181818181818, (1, 3): 4581.818181818182}, 'None_Experiencing': {(0, 0): 16363.636363636362, (0, 1): 1636.3636363636365, (0, 2): 16363.636363636362, (0, 3): 1636.3636363636365, (1, 0): 16363.636363636362, (1, 1): 1636.3636363636365, (1, 2): 16363.636363636362, (1, 3): 1636.3636363636365}, 'Age_0-9': {(0, 0): 12672.000000000002, (0, 1): 3168.0000000000005, (0, 2): 12672.000000000002, (0, 3): 3168.0000000000005, (1, 0): 12672.000000000002, (1, 1): 3168.0000000000005, (1, 2): 12672.000000000002, (1, 3): 3168.0000000000005}, 'Age_10-19': {(0, 0): 12672.000000000002, (0, 1): 3168.0000000000005, (0, 2): 12672.000000000002, (0, 3): 3168.0000000000005, (1, 0): 12672.000000000002, (1, 1): 3168.0000000000005, (1, 2): 12672.000000000002, (1, 3): 3168.0000000000005}, 'Age_20-24': {(0, 0): 12672.000000000002, (0, 1): 3168.0000000000005, (0, 2): 12672.000000000002, (0, 3): 3168.0000000000005, (1, 0): 12672.000000000002, (1, 1): 3168.0000000000005, (1, 2): 12672.000000000002, (1, 3): 3168.0000000000005}, 'Age_25-59': {(0, 0): 12672.000000000002, (0, 1): 3168.0000000000005, (0, 2): 12672.000000000002, (0, 3): 3168.0000000000005, (1, 0): 12672.000000000002, (1, 1): 3168.0000000000005, (1, 2): 12672.000000000002, (1, 3): 3168.0000000000005}, 'Age_60+': {(0, 0): 12672.000000000002, (0, 1): 3168.0000000000005, (0, 2): 12672.000000000002, (0, 3): 3168.0000000000005, (1, 0): 12672.000000000002, (1, 1): 3168.0000000000005, (1, 2): 12672.000000000002, (1, 3): 3168.0000000000005}, 'Gender_Female': {(0, 0): 8800.0, (0, 1): 4400.0, (0, 2): 8800.0, (0, 3): 4400.0, (1, 0): 8800.0, (1, 1): 4400.0, (1, 2): 8800.0, (1, 3): 4400.0}, 'Gender_Male': {(0, 0): 8800.0, (0, 1): 4400.0, (0, 2): 8800.0, (0, 3): 4400.0, (1, 0): 8800.0, (1, 1): 4400.0, (1, 2): 8800.0, (1, 3): 4400.0}, 'Gender_Transgender': {(0, 0): 8800.0, (0, 1): 4400.0, (0, 2): 8800.0, (0, 3): 4400.0, (1, 0): 8800.0, (1, 1): 4400.0, (1, 2): 8800.0, (1, 3): 4400.0}, 'Contact_Dont-Know': {(0, 0): 8800.0, (0, 1): 4400.0, (0, 2): 8800.0, (0, 3): 4400.0, (1, 0): 8800.0, (1, 1): 4400.0, (1, 2): 8800.0, (1, 3): 4400.0}, 'Contact_No': {(0, 0): 8800.0, (0, 1): 4400.0, (0, 2): 8800.0, (0, 3): 4400.0, (1, 0): 8800.0, (1, 1): 4400.0, (1, 2): 8800.0, (1, 3): 4400.0}, 'Contact_Yes': {(0, 0): 8800.0, (0, 1): 4400.0, (0, 2): 8800.0, (0, 3): 4400.0, (1, 0): 8800.0, (1, 1): 4400.0, (1, 2): 8800.0, (1, 3): 4400.0}, 'Country': {(0, 0): 198.00000000000003, (0, 1): 198.00000000000003, (0, 2): 198.00000000000003, (0, 3): 198.00000000000003, (1, 0): 198.00000000000003, (1, 1): 198.00000000000003, (1, 2): 198.00000000000003, (1, 3): 198.00000000000003, (2, 0): 198.00000000000003, (2, 1): 198.00000000000003, (2, 2): 198.00000000000003, (2, 3): 198.00000000000003, (3, 0): 198.00000000000003, (3, 1): 198.00000000000003, (3, 2): 198.00000000000003, (3, 3): 198.00000000000003, (4, 0): 198.00000000000003, (4, 1): 198.00000000000003, (4, 2): 198.00000000000003, (4, 3): 198.00000000000003, (5, 0): 198.00000000000003, (5, 1): 198.00000000000003, (5, 2): 198.00000000000003, (5, 3): 198.00000000000003, (6, 0): 198.00000000000003, (6, 1): 198.00000000000003, (6, 2): 198.00000000000003, (6, 3): 198.00000000000003, (7, 0): 198.00000000000003, (7, 1): 198.00000000000003, (7, 2): 198.00000000000003, (7, 3): 198.00000000000003, (8, 0): 198.00000000000003, (8, 1): 198.00000000000003, (8, 2): 198.00000000000003, (8, 3): 198.00000000000003, (9, 0): 198.00000000000003, (9, 1): 198.00000000000003, (9, 2): 198.00000000000003, (9, 3): 198.00000000000003}}

### Calculate Chi-Square Value

In [122]:
ChiSquare=[]

for x_col in range(X.shape[1]):
    col = X[:,x_col]
    O_E2_divE=[]
    for val_x in range(get_max(col)+1):
        for val_y in range(get_max(y)+1):
            Observed = (contingency_table[headers[x_col]][val_x,val_y])
            Expected = expected_values[headers[x_col]][val_x,val_y]
            O_E = Observed-Expected
            O_E2 = O_E * O_E
            O_E2_divE.append(O_E2/Expected) 
    ChiSquare.append(np.sum(O_E2_divE))

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
10
10
10
10
10
10
10
10
10
10

In [124]:
print(ChiSquare)

[1867279.0909090908, 1940400.0, 2389458.163265306, 1940400.0, 1867279.0909090908, 9623306.0, 1728146.93877551, 2236704.0, 2236704.0, 1728146.93877551, 6477695.999999999, 2795759.9999999995, 2795759.9999999995, 2795759.9999999995, 2795759.9999999995, 2795759.9999999995, 1795200.0, 1795200.0, 1795200.0, 1795200.0, 1795200.0, 1795200.0, 12046319.999999998]

### Accept or Reject the Null Hypothesis

With 95% confidence, we will check if the calculated Chi-Square Values will fall in the acceptance or rejection region. If the variables fall in acceptance region (are less than the critical Chi-Square value), we will conclude that the two variables are independent and cannot be selected for training.

In [140]:
drop = []
for h in range(len(headers)):
    print("Testing if variable %s is independent of variable Condition."%headers[h])
    deg = df[headers[h]]
    print("- Degrees of Freedom is %d"%(deg))
    if deg == 3:
        crit_val = 7.82
    if deg == 27:
        crit_val = 40.11
    print("- Critical Value is %d"%(crit_val))
    
    if(ChiSquare[h]>crit_val):
        print("-- Variable %s is dependent on variable Condition."%headers[h])
    else:
        print("-- Variable %s is independent on variable Condition."%headers[h])
        print("DROPPING VARIABLE: %s"%headers[h])
        drop.append(h)
        
X = np.delete(X,drop,1)

Testing if variable Fever is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Fever is dependent on variable Condition.
Testing if variable Tiredness is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Tiredness is dependent on variable Condition.
Testing if variable Dry-Cough is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Dry-Cough is dependent on variable Condition.
Testing if variable Difficulty-in-Breathing is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Difficulty-in-Breathing is dependent on variable Condition.
Testing if variable Sore-Throat is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Sore-Throat is dependent on variable Condition.
Testing if variable None_Sympton is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable None_Sympton is dependent on variable Condition.
Testing if variable Pains is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Pains is dependent on variable Condition.
Testing if variable Nasal-Congestion is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Nasal-Congestion is dependent on variable Condition.
Testing if variable Runny-Nose is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Runny-Nose is dependent on variable Condition.
Testing if variable Diarrhea is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Diarrhea is dependent on variable Condition.
Testing if variable None_Experiencing is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable None_Experiencing is dependent on variable Condition.
Testing if variable Age_0-9 is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Age_0-9 is dependent on variable Condition.
Testing if variable Age_10-19 is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Age_10-19 is dependent on variable Condition.
Testing if variable Age_20-24 is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Age_20-24 is dependent on variable Condition.
Testing if variable Age_25-59 is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Age_25-59 is dependent on variable Condition.
Testing if variable Age_60+ is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Age_60+ is dependent on variable Condition.
Testing if variable Gender_Female is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Gender_Female is dependent on variable Condition.
Testing if variable Gender_Male is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Gender_Male is dependent on variable Condition.
Testing if variable Gender_Transgender is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Gender_Transgender is dependent on variable Condition.
Testing if variable Contact_Dont-Know is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Contact_Dont-Know is dependent on variable Condition.
Testing if variable Contact_No is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Contact_No is dependent on variable Condition.
Testing if variable Contact_Yes is independent of variable Condition.
- Degrees of Freedom is 3
- Critical Value is 7
-- Variable Contact_Yes is dependent on variable Condition.
Testing if variable Country is independent of variable Condition.
- Degrees of Freedom is 27
- Critical Value is 40
-- Variable Country is dependent on variable Condition.

## Shuffle and Split

In [ ]:
def shuffle_and_split(x,y):
    global x_train
    global x_test
    global y_train
    global y_test
    
    N = x.shape[0]
    P = np.arange(0,N,1)
    np.random.shuffle(P)
    lim= int(0.8*N)
    
    x_train = np.copy(x[P[0:lim],:])
    y_train = np.copy(y[P[0:lim]])
    x_test = np.copy(x[P[lim:N],:])
    y_test = np.copy(y[P[lim:N]])

In [ ]:
shuffle_and_split(X,y)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

In [ ]:
print(x_train[0])

# Neural Network

## Activation Function Definitions

In [ ]:
def sigmoid(x):
  
  #return 1/(1 + np.exp(-x))
  return np.tanh(x)

def sigmoid_prime(x):
  
  #return sigmoid(x)*(1 - sigmoid(x))
  return 1 - np.power(np.tanh(x), 2)

## Weights for NN

In [ ]:
v = (2*np.random.random((2,3))-1)
w = (2*np.random.random((3,1))-1)

## Define the learning rate and the network structure

In [ ]:
alpha = 0.1

number_input_units = 3
number_hidden_units = 2 # ignore bias term
number_output_units = 1

## Perform the feedforward and backpropagation to update the weights and train the network

In [ ]:
error = []

for epoch in range(0, 2000):
    
  # randomly select a training example
  entry = np.random.randint(4)
    
  x = X[entry,:]

  # 1. Feedforward

  Z_in = []
  Z_out = []
    
  # Each hidden unit sums its weighted input signals
  for j in range(0, number_hidden_units):
    Z_in.append(np.dot(x, v[j,:]))
    Z_out.append(sigmoid(Z_in[j])) # and applies its activation function to computer its output
    
  
  # We append the bias term to layer_1
  Z_out = np.append(1, Z_out)
    
  Y_in = []
  Y_out = []
    
  # Each output unit sums its weighted input signals
  for k in range(0, number_output_units):
    Y_in.append(np.dot(Z_out, w))
    Y_out.append(sigmoid(Y_in[k]))
      
  Y_in = Y_in[0]
  Y_out = Y_out[0]
  
   
  # 2. Backpropagation

  delta_Y = (y[entry] - Y_out)*sigmoid_prime(Y_in)
    
  delta_Y = np.array(delta_Y)
   
  #err = y[entry]-Y_out
  err = np.power(y[entry]-Y_out, 2)
            
  error.append(err)
        
  delta_Z_in = []
  delta_Z = []
    
  # Each hidden unit sums its delta inputs from previous layer
  for j in range(0, number_hidden_units):
    delta_Z_in.append(delta_Y*w[j+1])
    delta_Z.append(delta_Z_in[j]*sigmoid_prime(Z_in[j]))
      
      
  delta_Z = np.array(delta_Z)
    
        
  # 3. Weights adjustment
           
  tmp = alpha*delta_Y*Z_out
     
  v = v + alpha*delta_Z*x
  w = np.add(w.T, tmp)
    
  w = w.T
         
    
fig = plt.figure()
plt.plot(error)
plt.ylabel('Error')
plt.xlabel('Iterations')
plt.show()

# Decision Tree

In [ ]:
height_values = []
acceleration_values = []
no_wheels_values=[]
width_values = []
length_values = []
fairing_values=[]
weight_values = []
max_speed_values = []
torque_values=[]
colour_values = []
#
classes = ['Yoshi','Golden_Mario','Luigi','Link','Mario','Shy_guy','Peachet','Wa_Luigi']
features = ['height','acceleration','no_wheels','width','length','fairing','weight','max_speed','torque','colour']

#
classes2code = {}
code2classes = {}
i=0
for v in classes:
    classes2code[v]=i
    code2classes[i]=v
    i+=1
#
#
# convert dataset to numpy arrays
n = len(features)  # number of features
m = len(data)  # number of instances
X = np.zeros([m,n],dtype=float)
Y = np.zeros([m],dtype=float)
for i in range(m):
    X[i,0] = data[i][0]
    X[i,1] = data[i][1]
    X[i,2] = data[i][2]
    X[i,3] = data[i][3]
    X[i,4] = data[i][4]
    X[i,5] = data[i][5]
    X[i,6] = data[i][6]
    X[i,7] = data[i][7]
    X[i,8] = data[i][8]
    X[i,9] = data[i][9]
    Y[i] = classes2code[data[i][10]]